html,
body {
    height: 100%;
    /*background-color: #47698F;    *//* The html and body elements cannot have any padding or margin. */
}

#wrap {
    min-height: 594px;
    margin: 0 auto -60px;
}

#push,
#footer {
    height: 60px;
}

.sitemesh-body{
    padding-top: 80px;
}

.rt-main-body {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F8F8F8;
    background-image: -moz-linear-gradient(center top , #F8F8F8, #EDEDED);
    border-bottom-color: #E8E8E8;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #E8E8E8;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 2px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #E8E8E8;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 2px;
    border-top-color: #E8E8E8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-style: solid;
    border-top-width: 2px;
    box-shadow: 0 2px 0px #EEEEEE;
    padding: 20px 10px 10px;

}

.banner-body {
    margin-bottom: -10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 2px 0 #ffffff;
}


.com_my_account_panel{

    padding:20px 10px 10px;
    overflow: hidden;
    -webkit-border-radius: 7px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
    -moz-border-radius: 7px; /* FF1-3.6 */
    border-radius: 8px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
    border: 1px #DDDDDD solid;
    background-color: #FFF;
}
.com_my_account_panel_row{
    overflow: hidden;
    margin: 10px;
}
.com_my_account_sub_icon_panel {
    float: left;
    width: 25%;
    text-align: center;
    margin: 0 auto;
}
.com_my_account_sub_icon {
    height: 87px;
    width: 130px;
    margin: 0 auto;
}
.com_my_account_sub_icon_label {
    margin-top: 2px;
    text-align: center;
}

.com_my_account_sub_icon_panel a {
    text-decoration: none;
    outline: none;
    font-weight: bold;
    color: #EBA741;
}

.com_my_account_sub_icon_panel a:hover {
    color: #47698F;
}

.side-menu-header{
    padding:5px 10px;
    font-weight: bold;
}








/*Loign Form CSS*/

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 16px auto 10px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}


